/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set font families */
  body {
    font-family: 'Amulya Bold', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Synonym Regular', sans-serif;
  }
  
  /* Set font sizes */
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  /* Set background color and text color */
  body {
    background-color: #f5f5f5;
   